<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile page</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">

  <link rel="stylesheet" href="./mvp.css" />
  
</head>
<body>
   <main> 
    <div class="container">
      <div class="main-body">
      
            
            <div class="row">
              <div class="col-md-12">
                <nav aria-label="breadcrumb" class="main-breadcrumb" style="text-align: right;">
                  <ul class="menu-bar">
                    <li class="border-info"><a href="/" class="text-info">Profile</a></li>
                    <% if(userData.role == 'admin'){ %>
                    <li class="border-info"><a href="/users" class="text-info">Users</a></li>
                    <% } %>
                    <li class="border-danger"><a href="/sessionLogout" class="text-danger">Logout</a></li>
                  </ul>
                </nav>
              </div>
            </div>
            <div class="row gutters-sm">
              <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Sr#</th>
                            <th>Email</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Role</td>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                      <% for(i=0; i<users.length; i++){%>
                        <tr>
                            <td><%= i+1 %></td>
                            <td><%= users[i].email %></td>
                            <td><%= users[i].name %></td>
                            <td><%= users[i].lastname %></td>
                            <td><%= users[i].role %></td>
                            <td>
                              <a class="btn btn-sm btn-primary" href="/userprofile/edit/<%= users[i].id %>">Edit</a>
                              <a class="btn btn-sm btn-danger" href="/userprofile/delete/<%= users[i].id %>">Delete</a>
                            </td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
                
                    
                
              </div>
            </div>
  
          </div>
      </div>
      
      <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
      
   </main>
</body>
</html>